
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: BebasNeue;
    src: url(./fonts/BebasNeue-webfont.woff);
}

/* layout */
body {
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3e3e3e
}

.page {
    width: 90%;
    margin: auto;
    border: 1px solid #dddddd;
    max-width: 1024px;
}

.pageheader {
    width: 95%;
    margin: 2em auto;
   
    max-width: 1200px;
  
}

.headercontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.intro {
    border: 1px solid #dddddd;
    width: 95%;
    margin: 2em auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.introcontent {
    width: 45%;
    margin: 1em 0;
}

.intro img {
    border: 1px solid #dddddd;
    margin: 1em;
}

.article-list {
    width: 65%;
    padding-top: 1em;
   

}

.items {
    background-color: #dddddd;
    padding: 1em 1em 1.5em 1em;
    margin: 0 0 0 1em;

}

.features {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    border: 1px solid #dddddd;
}

.formcontent {
    width: 33%;
    margin: 2em 1em 0 1em;
    width: 33%;

}

.customerform {
    background-color: #dddddd;
    margin-top: 2em 0;
    padding: 1em;
    
}

form {
    margin: 1em auto;
}

fieldset{
    border: 1px solid #3e3e3e;
    background-color: white;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 2em;
}

#submit {
    width: 7em;
    background-image: linear-gradient(#f1f1f1, #bbbbbb);
    border-radius: .2em;
    padding: .4em 0;
    font-size: .8em;
}

aside {
    background-color: #dddddd;
    padding: 1em;
}

aside em {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
}

footer {
    background-color: #dddddd;
    width: 95%;
    margin: 2em auto 0 auto;
    padding: 1em;
}


/* navigation */

.commonlinks ul {
    list-style: none;
    font-size: .7em;
    color: #016006;
}

.commonlinks li {
    display: inline;
    margin-left: 1em;
}

.primarynav ul {
    list-style: none;
    font-size: 1.1em;
    margin-top: 2em;
    font-family: 'BebasNeue';
}

.primarynav li {
    display: inline;
    margin-right: .9em;
}

.primarynav a {
    padding: .3em 1.85em;
    background-color: #dddddd;
    border-radius: .2em;
    box-shadow: 2px 2px #3e3e3e;
    text-decoration: none;
    text-decoration: none;
    color: #000000;
}


.primarynav a:hover {
    background-color: #f6f6f6;
    transition-duration: .2s
}
.primarynav a:active {
    box-shadow: 1px 1px black;
    transition-duration: .2s

}

#current {
    background-color: #f6f6f6;
}

/* typography */


h1 {
    font-family: 'BebasNeue';
    color: #016006;
    font-size: 5em;
    text-shadow: 2px 0px #3e3e3e;
    font-weight: 300;
}

h2 {
    font-family: 'BebasNeue';
    font-size: 2em;
    margin-bottom: .75em;
}

h3 {
    font-family: 'BebasNeue';
    color: #016006;
    font-size: 1.8em;
}

p{
    font-size: 1em;
}

p a {
    color: #016006;
    text-decoration: none;
}

p a:hover {
    color: #016006;
    text-decoration: underline;
}

aside a {
    text-decoration: underline;
}

.article-list h2 {
    margin-bottom: .5em;
    margin-left: .5em;
}


.lead {
    font-size: 1.2em;
}


.items p {
    color: #016006;
}

.items strong{
    color: black;
}
.smaller {
    font-size: .7em;
}
legend {
    font-family: 'BebasNeue';
    font-size: 1.6em;
    margin-right: 1em;
}

footer h3 {
    color: #3e3e3e;
}